<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
        integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/styles.css">
    <title>CMS</title>
    <style>
        body {
            background-image: url("https://img.freepik.com/free-vector/virtual-man-laptop-teaching-online_23-2148508675.jpg?w=740&t=st=1691985868~exp=1691986468~hmac=e2a601cb88896f901b91a982faf8c405eafe640f5e3034e8563960e47036f802");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    </style>
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-light text-dark ">
        <div class="container-fluid mx-5">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-building-columns" style="color:#000080;"></i> CMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view_courses">COURSES</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        document.getElementById('course_image').value = '<%= course.course_image %>';
    </script>
    <!--Form-->
    <section class="container text-light">
        <div class="row justify-content-center m-3 ">
            <div class="card w-50" style="background-color:rgba(250, 250, 245,0.6);">
                <div class="card-body">
                    <h3 class="card-title  text-center p-3 text-primary">EDIT A COURSE</h3>
                    <form action="/editCourse/<%= course.id %>" method="post">
                        <div class="mb-3">
                            <label class="course_image" for="customFile">Upload your Image</label>
                            <input type="file" class="form-control" id="course_image" name="course_image"" />
                        </div>
                        <div class=" mb-3">
                            <label for="title" class="form-label">Course Name</label>
                            <input type="text" class="form-control" id="title" name="title"
                                placeholder="Enter Course Name" value="<%= course.title %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Course Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" type="text"><%= course.description %></textarea required>
                        </div>
                        <div class="mb-3">
                            <label for="lecturer_id">Lecturer:</label>
                            <select id="lecturer_id" name="lecturer_id" required>
                                <% lecturers.forEach(lecturer => { %>
                                  <option value="<%= lecturer.id %>" <%= lecturer.id === course.lecturer_id ? 'selected' : '' %>><%= lecturer.name %></option>
                                <% }); %>
                              </select><br>
                        </div>
                        <div class="mb-3">
                            <label for="course_material" class="form-label">Add The course video/audio</label>
                            <input class="form-control form-control-sm" type="text" id="course_material" name="course_material" value="<%= course.course_material %>" required/>
                        </div>
                        <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary">Update Course</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>